/*
* Typography.css
*/


	h1, h2, h3, h4, h5, h6 {
		color: @text-color;
		font-weight: 400;
		font-family: @headings-font-family;
	 }
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
	
	
	h1 { 
		margin-bottom: 1.5rem;
		font-size:  3.6rem;
		line-height: 3.4rem;
		text-transform: uppercase;
		font-weight: 600;
		color: @grey-darker;
		}
	
		
	h2 { 
		margin-bottom: 2.2rem;
		font-size: 2.6rem; 
		line-height: 1.1em;
		color: @grey-darker;
		}
		 
		 
	h3 {
		font-size: 2.0rem; 
		margin-bottom: 1.5rem;
		line-height: 1.1em;
		color: @maroon;
		font-weight: 600;
	 }


	h4 { 
		margin-bottom: 4px; 
		font-size: 1.6rem; 
		line-height: 1.1em;
		color: @maroon; 
	}

	
	h5 { 
		font-size: 17px; 
		line-height: 24px; 
		color: @grey;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-stretch: extra-condensed;
		font-weight: 600;
	}
	

	h6 { 
		font-size: 14px; 
		line-height: 21px; 
		color: @grey;
		letter-spacing: 1px;
		text-transform: uppercase;
		font-stretch: extra-condensed;
		font-weight: 600;
	}


	.subheader { color: #777; }
	
	
	hgroup h3, #skills h3 {
		
		font-size: 2.2rem;
		
	}


		p.announcement {
			clear: both; 
			text-align: center;
			font-size: 26px;
		}

	p, ul {
	margin: 0;
	+ p {
	margin-top: 20px;
	}
	}

	li {
		font-size: 1.5rem;
		line-height: 1.8;
		padding: .5rem 0;
	}

	p img { margin: 0; }

	em { font-style: italic; }
	strong {font-weight: bold; }
	p.small { text-align: center; font-size: 80%;}

	/****	Blockquotes  ****/
	
	blockquote, blockquote p { color: #777; text-align: center; font-style: italic; font-size: 17px; line-height: 24px; }
	blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px;  }
	blockquote cite { display: block; color: #EF482F; text-align: center; font-size: 12px; }
	blockquote cite:before { content: "\2014 \0020"; }
	blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

	hr { clear: both; margin: 10px 0 30px; height: 0; border: solid #ddd; border-width: 1px 0 0; }
	
	.c-white {
		color: white;
	}
	
	.c-maroon {
		color: @maroon;
	}
		.c-grey {
		color: @grey;
	}
	.c-grey-dk {
		color: @grey-darker;
	}
	.c-pink-lt {
		color: @pink-lt;
	}
	.c-green {
		color: green;
	}
		.c-green-lt {
		color: @green-lt;
	}
.c-cream {
	color: @cream;
}

