.btn-default {
	//border-color: transparent;
	&:hover{
		 background-color: @brand-primary;
        color: @white;
	}
}

.btn-info {
  .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
  &:hover{
  	background-color: @btn-info-bg;
  }
}

.btn-primary {
  .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
   &:hover{
  	background-color: @btn-primary-bg;
  }
}

.btn-hero{
  background: transparent;
  border: #fff 1px solid;
   &:hover{
    background-color: @btn-primary-bg;
  }
}

.btn {
	font-size: 1.2rem;
	//text-transform: uppercase;
	letter-spacing: 1px;
}