/*
* Form input focus state
*/
.form-control {
    .form-control-focus();
    border-radius: 0px;
    border: none;
    background-color: #f2f0f1;
    box-shadow: none;
    height: 50px;
    &.filter {
        height: 25px;
    }
}
.input-group-addon {
    background-color: #f2f0f1;
    border: none;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
}
form label.error {
    margin-top:-1em;
    font-size:13px;
    line-height:13px;
    font-size:1.3rem;
    line-height:1.3rem;
    color:@brand-danger;
    font-weight: normal;
}

#success, #error {
    display:none
}
#success span, #error span {
    display:block;
    position:absolute;
    bottom:0;
    width:100%
}
#success span p, #error span p {
    margin-top:6em
}
#success span p {
    color:#8C8809;
}
